p11d_open_source/code/libraries/vb/atecvbwl/databaseerror.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://abatec.deloitte.co.uk/databaseerror" xmlns="http://abatec.deloitte.co.uk/databaseerror" >
	<xs:element name="errormessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="errno" type="xs:short"/>
				<xs:element name="source" type="xs:string"/>
				<xs:element name="message" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
