p11d_open_source/code/p11d2019/System/PAYEOnline/2016/P11D.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Jun 12 10:47:55 BST 2013
  -->
<xsd:schema version='1.0' elementFormDefault='qualified' attributeFormDefault='unqualified' id='p11d' targetNamespace='http://www.govtalk.gov.uk/taxation/EXB/13-14/1' xmlns='http://www.govtalk.gov.uk/taxation/EXB/13-14/1' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='core.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2006-07-18</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2013-06-12</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>P11D</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>P11Db</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2001-2013</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Subject>
          <gms:Project>On-line Tax Return filing</gms:Project>
        </gms:Subject>
        <gms:Title>P11D Schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='P11D'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='Employee' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Name' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Ttl' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='4' />
                          <xsd:pattern value='[A-Za-z][A-Za-z&apos;\-]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Fore' minOccurs='1' maxOccurs='2'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z][A-Za-z&apos;\-]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Sur' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z][A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='WksNo' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='WorksNumberType'>
                    <xsd:maxLength value='20' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='NINO' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PAYEstringType'>
                    <xsd:minLength value='9' />
                    <xsd:maxLength value='9' />
                    <xsd:pattern value='([A-Z]{2}[0-9]{6}[A-D ])' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='BirthDate' type='xsd:date' minOccurs='0' maxOccurs='1' />
              <xsd:element name='Gender' type='GenderType' minOccurs='0' maxOccurs='1' />
            </xsd:sequence>
            <xsd:attribute name='DirInd' use='optional'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='3' />
                  <xsd:enumeration value='yes' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Transferred' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Asset' minOccurs='1' maxOccurs='5'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Desc' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='15' />
                          <xsd:enumeration value='multiple' />
                          <xsd:enumeration value='other' />
                          <xsd:enumeration value='precious metals' />
                          <xsd:enumeration value='property' />
                          <xsd:enumeration value='cars' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='30' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='A' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Payments' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Payment' minOccurs='0' maxOccurs='7'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Desc' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='20' />
                          <xsd:enumeration value='other' />
                          <xsd:enumeration value='season tickets' />
                          <xsd:enumeration value='private car expenses' />
                          <xsd:enumeration value='private education' />
                          <xsd:enumeration value='accountancy fees' />
                          <xsd:enumeration value='domestic bills' />
                          <xsd:enumeration value='multiple' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='30' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Tax' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='B' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='VouchersOrCCs' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Gross' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='C' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='LivingAccom' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:enumeration value='D' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='MileageAllow' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:enumeration value='E' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Cars' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Car' minOccurs='1' maxOccurs='50'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Make' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z0-9 \(\)\-\./]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Registered' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='AvailFrom' type='xsd:date' default='2000-04-05' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='AvailTo' type='xsd:date' default='2000-04-05' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='CC' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:nonNegativeInteger'>
                          <xsd:maxInclusive value='9999' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Fuel' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:enumeration value='A' />
                          <xsd:enumeration value='D' />
                          <xsd:enumeration value='E' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:choice minOccurs='1' maxOccurs='1'>
                      <xsd:element name='CO2' minOccurs='0' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='xsd:integer'>
                            <xsd:maxInclusive value='999' />
                            <xsd:minInclusive value='1' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name='NoAppCO2Fig' minOccurs='0' maxOccurs='1'>
                        <xsd:simpleType>
                          <xsd:restriction base='YesNoType'>
                            <xsd:maxLength value='3' />
                            <xsd:enumeration value='yes' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:choice>
                    <xsd:element name='List' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRmonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                            <xsd:minInclusive value='1000.00' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='Accs' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='CapCont' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='5000.00' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='PrivUsePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='FuelWithdrawn' minOccurs='0' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base='xsd:date'>
                            <xsd:attribute name='Reinstated' use='optional'>
                              <xsd:simpleType>
                                <xsd:restriction base='YesNoType'>
                                  <xsd:maxLength value='3' />
                                  <xsd:enumeration value='yes' />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:attribute>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='FuelCashEquiv' minOccurs='0' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                            <xsd:minInclusive value='0.01' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='TotalCars' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='TotalFuel' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='F' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Vans' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='FuelCashEquiv' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='G' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Loans' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Loan' minOccurs='1' maxOccurs='10'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Joint' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:nonNegativeInteger'>
                          <xsd:maxInclusive value='999' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='InitOS' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='FinalOS' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MaxOS' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='IntPaid' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='Date' type='xsd:date' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='Discharge' type='xsd:date' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='H' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Medical' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='I' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Relocation' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Excess' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='J' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Services' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='K' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='AssetsAvail' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Asset' minOccurs='1' maxOccurs='7'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Desc' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='23' />
                          <xsd:enumeration value='other' />
                          <xsd:enumeration value='multiple' />
                          <xsd:enumeration value='corporate hospitality' />
                          <xsd:enumeration value='boat' />
                          <xsd:enumeration value='aircraft' />
                          <xsd:enumeration value='timeshare accommodation' />
                          <xsd:enumeration value='holiday accommodation' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='30' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='AnnVal' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='L' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Class1A' minOccurs='0' maxOccurs='6'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Desc' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='29' />
                          <xsd:enumeration value='multiple' />
                          <xsd:enumeration value='other' />
                          <xsd:enumeration value='stop loss charges' />
                          <xsd:enumeration value='non-qualifying relocation ben' />
                          <xsd:enumeration value='educational assistance CL1A' />
                          <xsd:enumeration value='subscriptions and fees' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='30' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='NonClass1A' minOccurs='0' maxOccurs='6'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Desc' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='26' />
                          <xsd:enumeration value='multiple' />
                          <xsd:enumeration value='other' />
                          <xsd:enumeration value='loans written or waived' />
                          <xsd:enumeration value='educational assistance' />
                          <xsd:enumeration value='nursery places' />
                          <xsd:enumeration value='subs and professional fees' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='30' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='CashEquiv' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='TaxPaid' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='9999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='M' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='ExpPaid' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='TravAndSub' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Ent' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name='TradingOrgInd' type='YesNoType' use='required' />
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='General' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='HomeTel' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='NonQualRel' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Desc' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='30' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Cost' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='MadeGood' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='TaxablePmt' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='9999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='Type' use='required'>
              <xsd:simpleType>
                <xsd:restriction base='PAYEstringType'>
                  <xsd:maxLength value='1' />
                  <xsd:enumeration value='N' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name='P11Db'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='Class1AcontributionsDue' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='TotalBenefit' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base='_intermediate_TotalBenefit'>
                      <xsd:attribute name='AdjustmentRequired' use='optional'>
                        <xsd:simpleType>
                          <xsd:restriction base='YesNoType'>
                            <xsd:maxLength value='3' />
                            <xsd:enumeration value='yes' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='NICpayable' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                      <xsd:maxInclusive value='99999999.99' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Adjustments' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='TotalBenefit' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='999999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='AmountDue' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='Description' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='PAYEstringType'>
                                <xsd:maxLength value='35' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='Adjustment' minOccurs='1' maxOccurs='1'>
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                                  <xsd:maxInclusive value='999999999.99' />
                                </xsd:restriction>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='AmountNotDue' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='Description' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='PAYEstringType'>
                                <xsd:maxLength value='35' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='Adjustment' minOccurs='1' maxOccurs='1'>
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                                  <xsd:maxInclusive value='999999999.99' />
                                </xsd:restriction>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='Total' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='999999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name='Payable' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='IRnonNegativeMonetaryStructure'>
                            <xsd:maxInclusive value='99999999.99' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name='NICsRate' use='optional'>
              <xsd:simpleType>
                <xsd:restriction base='IRnonNegativeDecimalType'>
                  <xsd:maxInclusive value='99.99' />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
<!--
  **************************************************************
                    Auto-Generated Types
  **************************************************************
  
  Declaration of automatically generated named simpleTypes.
  These are necessary when XSDL does not allow inline
  declaration of simpleTypes under certain conditions.
  -->
  <xsd:complexType name='_intermediate_TotalBenefit'>
    <xsd:simpleContent>
      <xsd:restriction base='IRnonNegativeMonetaryStructure'>
        <xsd:maxInclusive value='999999999.99' />
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
