p11d_open_source/code/p11d2018/System/PAYEOnline/P9D.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Jun 12 10:47:55 BST 2013
  -->
<xsd:schema version='1.0' elementFormDefault='qualified' attributeFormDefault='unqualified' id='p9d' targetNamespace='http://www.govtalk.gov.uk/taxation/EXB/13-14/1' xmlns='http://www.govtalk.gov.uk/taxation/EXB/13-14/1' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='core.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2006-07-18</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2013-06-12</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>P9D</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2001-2013</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Subject>
          <gms:Project>On-line Tax Return filing</gms:Project>
        </gms:Subject>
        <gms:Title>P9D Schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='P9D'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='EmployeeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Name' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Ttl' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='4' />
                          <xsd:pattern value='[A-Za-z][A-Za-z&apos;\-]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Fore' minOccurs='1' maxOccurs='2'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z][A-Za-z&apos;\-]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Sur' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z][A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='WorksNumber' type='WorksNumberType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='NINO' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PAYEstringType'>
                    <xsd:minLength value='9' />
                    <xsd:maxLength value='9' />
                    <xsd:pattern value='([A-Z]{2}[0-9]{6}[A-D ])' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='BirthDate' type='xsd:date' minOccurs='0' maxOccurs='1' />
              <xsd:element name='Gender' type='GenderType' minOccurs='0' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='TotalExpenses' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                <xsd:maxInclusive value='9999999999.00' />
                <xsd:minInclusive value='25.00' />
              </xsd:restriction>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='OtherPayments' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='NICpaid' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Telephone' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='GiftsInKind' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='NotMarketValue' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='VouchersAndCCs' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Transport' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Gift' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Meal' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Other' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='CreditCards' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Accommodation' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Address' type='InternationalAddressStructure' minOccurs='1' maxOccurs='1' />
              <xsd:element name='RateableValue' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='RentAndInsurance' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='AccommodationValue' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='9999999999.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='BenefitDescription' minOccurs='0' maxOccurs='1'>
          <xsd:simpleType>
            <xsd:restriction base='PAYEstringType'>
              <xsd:maxLength value='125' />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
