p11d_open_source/code/p11d2019/System/PAYEOnline/2013/EXB.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Wed Jun 20 11:46:58 BST 2012
  -->
<xsd:schema version='1.0' elementFormDefault='qualified' attributeFormDefault='unqualified' id='exb' targetNamespace='http://www.govtalk.gov.uk/taxation/EXB/12-13/1' xmlns='http://www.govtalk.gov.uk/taxation/EXB/12-13/1' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='P11D.xsd' />
  <xsd:include schemaLocation='P9D.xsd' />
  <xsd:include schemaLocation='P46Car.xsd' />  
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2006-07-18</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2012-06-20</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>core-v2-0</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>P11D-2013</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>P9D-2013</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires>P46Car-2013</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRenvelope</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2001-2012</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Subject>
          <gms:Project>On-line Tax Return filing</gms:Project>
        </gms:Subject>
        <gms:Title>Expenses and Benefits Schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='IRenvelope'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs='1' maxOccurs='1' ref='IRheader' />
        <xsd:element name='ExpensesAndBenefits' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Employer' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Name' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='.*\S.*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='Declarations' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='P11Dincluded' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:maxLength value='12' />
                          <xsd:enumeration value='are not due' />
                          <xsd:enumeration value='are enclosed' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='P46CarDeclaration' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:enumeration value='yes' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs='0' maxOccurs='1' ref='P11Db' />
              <xsd:element name='P9DrecordCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:maxInclusive value='9999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='P11DrecordCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:maxInclusive value='9999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='P46CarRecordCount' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:maxInclusive value='9999999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs='0' maxOccurs='unbounded' ref='P9D' />
              <xsd:element minOccurs='0' maxOccurs='unbounded' ref='P11D' />
              <xsd:element minOccurs='0' maxOccurs='unbounded' ref='P46Car' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
