p11d_open_source/code/p11d2019/System/PAYEOnline/2009/P46Car.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<!--
XML Schema Rec
Generated by X-Meta 
Fri Jun 06 18:34:31 BST 2008
  -->
<xsd:schema version='0.2' elementFormDefault='qualified' attributeFormDefault='unqualified' id='p46car' targetNamespace='http://www.govtalk.gov.uk/taxation/EXB/09-10/1' xmlns='http://www.govtalk.gov.uk/taxation/EXB/09-10/1' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:include schemaLocation='core.xsd' />
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms='http://www.govtalk.gov.uk/CM/gms-xs'>
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>Capgemini</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2006-07-18</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2008-07-04</gms:Modified>
        </gms:Date>
        <gms:Format>
          <gms:MediaType>text/xml</gms:MediaType>
          <gms:Syntax>http://www.w3.org/2001/XMLSchema</gms:Syntax>
          <gms:Description>XML Schema, W3C Recommendation 2001</gms:Description>
        </gms:Format>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>core</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>P46Car</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>P46CarEngineSizeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2001-2007</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Subject>
          <gms:Project>On-line Tax Return filing</gms:Project>
        </gms:Subject>
        <gms:Title>P46Car Schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name='P46Car'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name='EmployeeDetails' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='Name' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Ttl' minOccurs='0' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='4' />
                          <xsd:pattern value='[A-Za-z][A-Za-z&apos;\-]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Fore' minOccurs='1' maxOccurs='2'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z][A-Za-z&apos;\-]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='Sur' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='xsd:string'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z][A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='NINO' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PAYEstringType'>
                    <xsd:minLength value='9' />
                    <xsd:maxLength value='9' />
                    <xsd:pattern value='([A-Z]{2}[0-9]{6}[A-D ])' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="BirthDate" type='xsd:date' minOccurs='0' maxOccurs='1'/>              
              <xsd:element name='Gender' type='GenderType' minOccurs='0' maxOccurs='1'/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='SubmissionReason' minOccurs='1' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='ProvidedCar' type='YesNoType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='ReplacedCar' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Replaced' type='YesNoType' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='MultipleCarIndicator' type='YesNoType' minOccurs='0' maxOccurs='1' />
                    <xsd:element name='MultipleCars' minOccurs='0' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name='MakeAndModel' minOccurs='1' maxOccurs='1'>
                            <xsd:simpleType>
                              <xsd:restriction base='PAYEstringType'>
                                <xsd:minLength value='1' />
                                <xsd:maxLength value='35' />
                                <xsd:pattern value='[A-Za-z0-9 \(\)\-\./]*' />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name='EngineSize' minOccurs='1' maxOccurs='1'>
                            <xsd:complexType>
                              <xsd:simpleContent>
                                <xsd:restriction base='P46CarEngineSizeType'>
                                  <xsd:maxInclusive value='9999' />
                                  <xsd:minInclusive value='0' />
                                </xsd:restriction>
                              </xsd:simpleContent>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='SecondCar' type='YesNoType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='EarningsOrDirector' type='YesNoType' minOccurs='0' maxOccurs='1' />
              <xsd:element name='CarWithdrawn' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name='Withdrawn' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='YesNoType'>
                          <xsd:enumeration value='yes' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='DateWithdrawn' type='xsd:date' minOccurs='1' maxOccurs='1' />
                    <xsd:element name='MakeAndModel' minOccurs='1' maxOccurs='1'>
                      <xsd:simpleType>
                        <xsd:restriction base='PAYEstringType'>
                          <xsd:minLength value='1' />
                          <xsd:maxLength value='35' />
                          <xsd:pattern value='[A-Za-z0-9 \(\)\-\./]*' />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name='EngineSize' minOccurs='1' maxOccurs='1'>
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:restriction base='P46CarEngineSizeType'>
                            <xsd:maxInclusive value='9999' />
                            <xsd:minInclusive value='0' />
                          </xsd:restriction>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='CarDetails' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='MakeAndModel' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PAYEstringType'>
                    <xsd:minLength value='1' />
                    <xsd:maxLength value='35' />
                    <xsd:pattern value='[A-Za-z0-9 \(\)\-\./]*' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='EngineSize' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='P46CarEngineSizeType'>
                      <xsd:maxInclusive value='9999' />
                      <xsd:minInclusive value='0' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='DateFirstRegistered' type='xsd:date' minOccurs='1' maxOccurs='1' />
              <xsd:element name='FuelType' minOccurs='0' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='PAYEstringType'>
                    <xsd:enumeration value='C' />
                    <xsd:enumeration value='G' />
                    <xsd:enumeration value='B' />
                    <xsd:enumeration value='E' />
                    <xsd:enumeration value='H' />
                    <xsd:enumeration value='L' />
                    <xsd:enumeration value='D' />
                    <xsd:enumeration value='P' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='CO2Emissions' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:choice minOccurs='1' maxOccurs='1'>
              <xsd:element name='Emissions' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='xsd:nonNegativeInteger'>
                    <xsd:maxInclusive value='999' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='Before1998' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='YesNoType'>
                    <xsd:enumeration value='yes' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name='NoApproved' minOccurs='1' maxOccurs='1'>
                <xsd:simpleType>
                  <xsd:restriction base='YesNoType'>
                    <xsd:enumeration value='yes' />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='MonetaryDetails' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='CarPrice' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='999999.00' />
                      <xsd:minInclusive value='1000.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='AccessoriesPrice' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='999999.00' />
                      <xsd:minInclusive value='1.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='DateFirstAvailable' type='xsd:date' minOccurs='1' maxOccurs='1' />
              <xsd:element name='CapitalContributions' minOccurs='1' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
                      <xsd:maxInclusive value='5000.00' />
                    </xsd:restriction>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name='PrivateUsePayment' minOccurs='0' maxOccurs='1'>
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base='_intermediate_PrivateUsePayment'>
                      <xsd:attribute name='Interval' use='optional'>
                        <xsd:simpleType>
                          <xsd:restriction base='PAYEstringType'>
                            <xsd:enumeration value='Y' />
                            <xsd:enumeration value='Q' />
                            <xsd:enumeration value='M' />
                            <xsd:enumeration value='W' />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:attribute>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name='Fuel' minOccurs='0' maxOccurs='1'>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name='PrivateUse' type='YesNoType' minOccurs='1' maxOccurs='1' />
              <xsd:element name='FuelPaidByEmployee' type='YesNoType' minOccurs='0' maxOccurs='1' />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name='P46CarEngineSizeType'>
    <xsd:simpleContent>
      <xsd:extension base='_intermediate_P46CarEngineSizeType'>
        <xsd:attribute name='Category' use='required'>
          <xsd:simpleType>
            <xsd:restriction base='xsd:integer'>
              <xsd:enumeration value='4' />
              <xsd:enumeration value='3' />
              <xsd:enumeration value='2' />
              <xsd:enumeration value='1' />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!--
  **************************************************************
                    Auto-Generated Types
  **************************************************************
  
  Declaration of automatically generated named simpleTypes.
  These are necessary when XSDL does not allow inline
  declaration of simpleTypes under certain conditions.
  -->
  <xsd:complexType name='_intermediate_PrivateUsePayment'>
    <xsd:simpleContent>
      <xsd:restriction base='IRnonNegativeWholeUnitsMonetaryStructure'>
        <xsd:maxInclusive value='99999.00' />
        <xsd:minInclusive value='1.00' />
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name='_intermediate_P46CarEngineSizeType'>
    <xsd:restriction base='xsd:nonNegativeInteger'>
      <xsd:maxInclusive value='9999' />
      <xsd:minInclusive value='0' />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
